@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-family: Poppins, sans-serif;
    background: #131313;
    background-size: 100%;
    color: #fff;
}

html, body {
    scroll-behavior: smooth;
}


a {
    color: #f77878;
    text-decoration: underline;
    transition: 0.3s;
}

a:hover {
    color: #f9b9b9;
}

#content {
    position: relative;
    margin: 5% 25% 10% 0;
    left: 50%;
    transform: translate(-50%);
}

#title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 0 5rem 0;
    padding: 0;
}

#back_button {
    position: fixed;
    top: 0%;
    margin-top: 40px;
    margin-left: 40px;
}

#top {
    position: absolute;
    left: 0%;
    top: 0%;
}

#back-to-top {
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 40px;
    margin-right: 40px;
}

.button {
    border: #181818 solid 20px;
    border-radius: 20px;
    background-color: #181818;
    transition: 0.3s;
    z-index: 1;
}

.button:hover {
    background-color: #232323;
    border: #232323 solid 20px;
}

@media screen and (max-width: 800px) {
    #content {
        margin: 5% 5% 10% 5%;
    }
    
}