<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ filename }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='global.css') }}"/>
</head>
<body>
    <span id="top"></span>
    <a href="{{ url_for('index') }}" id="back_button" title="Back to Home" class="button">Back to index</a>
    <a href="#top" id="back-to-top" title="Back to the Top" class="button">Top</a>
    <div id="content">
        {{ content|safe }}
    </div>
</body>
</html>